body{
	font-family: georgia, "droid serif", "Times New Roman", Times, serif;
	font-size: 1rem;
	line-height: 1.4;
	background-color: white;
	margin: 0;
	padding: 0;
}

/*First Band at the top*/
.uw-header--global{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.global-menu li{
	float: left;
	text-align: center;
	padding: 14px 16px;
	list-style-type: none;
}

ol, ul {
	list-style-type: none;
	padding-left: 2rem;
	margin-left: 1rem;
	overflow: hidden;
	zoom: 1;
}

ul{
	display: inline-block;
	position: relative;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

#uw-header-logo a{
	background-color: black;
	color: white;
}

.uw-header--global .global-menu li {
	display: inline-block;
	text-align: center;
	position: relative;
}

.uw-header-content{
	width: 100%;
	text-align: center;
}

.uw-header{
	background-color: black;
	text-align: center;
	min-height: 4.375rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.uw-header a{
	color: white;
	text-decoration: none;
	font-family: "BureauGrotCond Book",impact,"Droid Sans",sans-serif;
	font-size: 15px;
	font-style: normal;
    letter-spacing: .045rem;
    text-transform: uppercase;
}

a:hover {
	text-decoration: underline;
}


.uw-logo{
	display: inline-block;
	width: 100%;
	height: 2.875rem;
	text-indent: -999rem;
	background: url(https://uwaterloo.ca/arts-computing/profiles/uw_base_profile/themes/uw_fdsu_theme_resp/images/rwd/uwaterloo-logo.svg)
	0 50% no-repeat;
	background-size: contain;
	max-width: 10.563rem;
	background-color: black;
	position: relative;
}

/*Colour bars*/
.uw-site--cbar{
	-webkit-box-align: start;
    box-align: start;
    -webkit-align-items: start;
    -moz-align-items: start;
    -ms-align-items: start;
    -o-align-items: start;
    align-items: start;
    -ms-flex-align: start;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    width: 100%;
}

.uw-site--cbar .uw-cbar{
	padding: 0;
	margin: 0;
	display: flex;
	height: 1rem;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.uw-site--c1{
	background-color: #FFD5a5;
}

.uw-site--c2{
	background-color: #fbaf00;
}

.uw-site--c3{
	background-color: #e78100;
}

.uw-site--c4{
	background-color: #d93f00;
}

.uw-site--colours::after{
	clear: both;
	content: "";
	display: table;
}

.uw-site--header {
    margin-right: auto;
    padding: .8rem 0 .5rem;
    text-align: center;
    min-height: 3.438rem;
    line-height: 1.4;
    height: auto;
    background-color: #eee;
    text-transform: uppercase;
}

.uw-site--header a {
    font-family: BureauGrotCond,impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    text-transform: uppercase;
    font-size: 2.42383rem;
    line-height: 1.25;
	text-decoration: none;
	color: black;
}

/*Helpful Links*/
.related-links ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

/*.related-links .related-links-help-bar{
	background-color: black;
	color: #FFD5a5;
	height: 60px;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 1.5rem;
} */

.related-links li{
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	width: 10%;
	background-color: black;
	text-decoration: none;
	text-align: center;
	font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    padding: 20px;
	line-height: 1.2;
	color: #FFD5a5;
}

.related-links a{
	text-decoration: none;
	text-align: center;
	font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
	font-size: 1.2rem;
    letter-spacing: .05rem;
    padding: 0 .25rem .313rem;
	line-height: 1.2;
	color: #FFD5a5;
	text-transform: uppercase;
	width: -moz-max-content;
}

.related-links li:hover {
	text-decoration: underline;
}

/*Last Generated Time Style*/
#lgt{
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 20px;
}

/*Button to return to top*/
#btp{
	position: fixed;
	display: none;
	right: 10px;
	bottom: 25%;
	padding: 15px;
	font-size: 20px;
	background-color:black; 
	border-radius: 5px;
	border: 0;
	z-index: 1;
	color: #FFD5a5;
}
#btp:hover{
	background: #e78100;
}

/*search bar*/
#search_input {
	padding: 10px;
	font-size: 14px;
	font-style: italic;
	border: 1px solid black;
	margin-left: 20px;
	margin: 0;
	margin-top: 50px; 
	width: 400px;
} 

tr:hover {background-color: #FFD5a5}

th{
	overflow: auto;
	height: 50px;
	width: 20%;
	background-color:black;
	color: white;
} 

label{
	visibility: hidden;
}

/*Installation Help Button*/
#install{
	text-decoration: none;
	text-align: center;
	font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
	font-size: 1.2rem;
    letter-spacing: .05rem;
    padding: 0 .25rem .313rem;
	line-height: 1.2;
	color: #FFD5a5;
	background-color: black;
	border: none;
	text-transform: uppercase;
}
#install:hover {text-decoration: underline;}

/*Background of Pop-up*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	right: 5%;
	top: 10%;
	bottom: 30%;
	width: 45%;
	height: 38%;
	/*overflow-y: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 .install--modal--content {
	position: fixed;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 4px solid #888;
	overflow-y: scroll;
	height: 50%;
	width: 45%;
 }

 .install--modal--content--header h1 {
	text-decoration: none;
	text-align: center;
	font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
    letter-spacing: .05rem;
	color: #FFD5a5;
	background-color: black;
	margin: 0;
	padding: 5%;
	border: none;
	text-transform: uppercase;
 }

 .install--modal--content--osbar {
	 display: inline-block;
 }

 .install--modal--content h2 {
	font-size: 1.0rem;
	padding: 5%;
	font-weight: 100;
	display: inline-block;
 }

 #install--windows, #install--mac{
	text-decoration: none;
	text-align: center;
	font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
	font-size: 1.2rem;
    letter-spacing: .05rem;
	color: #FFD5a5;
	background-color: black;
	margin: 0;
	padding: 5%;
	border: none;
	text-transform: uppercase;
	line-height: 10%;
 }

 .install--modal--instructions--windows ol{
	display: block;
	list-style-type: decimal;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-color: white;
	color: black;
}

.install--modal--instructions--windows li{
	display: list-item;
	text-align: left;
	list-style-type: decimal;
	margin-left: 1%;
	padding: 0;
	background-color: white;
	color: black;
	width: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.1rem;
	font-weight: normal;
	word-wrap: break-word;
 }

.install--modal--instructions--macos{
	display: block;
	list-style-type: decimal;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-right: 10%;
	background-color: white;
	color: black;
}

.install--modal--instructions--macos ol{
	list-style-type: decimal;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-color: white;
	color: black;
	max-height: fit-content;
	max-width: fit-content;
	-webkit-overflow-scrolling: touch;
}

.install--modal--instructions--macos li {
	display: list-item;
	text-align: left;
	list-style-type: decimal;
	margin-left: 1%;
	padding: 0;
	background-color: white;
	color: black;
	width: auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.1rem;
	font-weight: normal;
	word-wrap: break-word;
}

.install--modal--instructions--macos li a{
	text-align: left;
	background-color: white;
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.1rem;
	font-weight: normal;
	text-transform: none;
	font-style: italic;
	color: #e78100;
}


.install--modal--instructions--windows, .install--modal--instructions--macos {
	display: none;
}

#close{
	display: inline-block;
	color: red;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}